<!DOCTYPE html>
<html lang="en">
<head>
       <title>My amazing site</title>
</head>

{% if auth %}
<p> Hello , logged in guy! </p>
{% else %}
<p> Hello, Anonymous </p>
{% endif %}

<h1> THE LIST OF EFFING QUESTIONS </h1>
<div id="header" >
<p>Some text here </p>
</div>

<div>
{% if obj %}
		<ul>
		{% for text in obj %}
				<li><a href="/question/{{ text.id }}/"> {{ text.question_text }} </a> </li>

		{% endfor %}

		</ul>

{% else %}
		<p> Currently, no questions are available </p>

{% endif %}
</div>

